body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: #000; }

a, a:hover, a:visited, a:active {
  text-decoration: none; }

li {
  list-style: none; }

.layout {
  padding: 160px 0; }

@font-face {
  font-family: 'ElegantIcons';
  src: url("fonts/ElegantIcons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6, p {
  color: #dedacf; }

h1, h2, h3 {
  font-family: "BioRhyme", serif; }

h4, h5, h6 {
  font-family: "Space Mono", monospace;
  font-weight: 100; }

p {
  font-family: "Space Mono", monospace; }

h1 {
  font-size: calc(32px + 0.5vw); }

h2 {
  font-size: calc(28px + 0.5vw); }

h3 {
  font-size: calc(21px + 0.5vw); }

h4 {
  font-size: calc(16px + 0.5vw); }

h5 {
  font-size: calc(13px + 0.5vw); }

h6 {
  font-size: calc(12px + 0.5vw); }

.text-white {
  color: #fff; }

.header {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }
  .header nav {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: rgba(212, 87, 87, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: opacity, -webkit-transform;
    transition: opacity, -webkit-transform;
    transition: transform, opacity;
    transition: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.3s, 0.5s;
            transition-duration: 0.3s, 0.5s;
    -webkit-transition-timing-function: ease, ease-out;
            transition-timing-function: ease, ease-out;
    -webkit-transition-delay: 3ms;
            transition-delay: 3ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 101; }
  .header nav ul li {
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: 4ms;
            transition-delay: 4ms; }
  .header nav ul li a {
    text-decoration: none;
    font-family: "Space Mono", monospace;
    display: block;
    font-weight: 700;
    font-size: 3em;
    color: #ded9cf;
    line-height: 2.389em;
    text-align: center;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: 4ms;
            transition-delay: 4ms; }
  .header nav ul li:hover {
    background-color: #ded9cf; }
  .header nav ul li:hover a {
    color: #2e2e2e;
    border-radius: 0; }
  .header header {
    float: left;
    width: 100%;
    height: 200px; }
  .header .hamburger {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 28px;
    left: 2em;
    padding: 1em;
    z-index: 102;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 6ms;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 6ms; }
  .header .overlay {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .header .hamburger:hover {
    cursor: pointer; }
  .header .bar {
    width: 30px;
    height: 5px;
    position: absolute;
    background-color: #dedacf; }
  .header .bar__inverse {
    background-color: lightgray; }
  .header .hamburger .top {
    left: 0;
    top: 10%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .header .hamburger .middle {
    left: 0;
    top: 38%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .header .hamburger .bottom {
    left: 0;
    top: 64%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .header .top.clicked {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 40%;
    background-color: #ded9cf; }
  .header .middle.clicked {
    display: none; }
  .header .bottom.clicked {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 40%;
    background-color: #ded9cf; }
  .header .header-icon {
    position: relative;
    z-index: 2;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #dedacf; }
    .header .header-icon:hover {
      background-color: #d45757; }
      .header .header-icon:hover .icon {
        color: white; }
      .header .header-icon:hover .icon-label {
        opacity: 1;
        top: 130%; }
    .header .header-icon .icon,
    .header .header-icon .icon-label {
      color: #2e2e2e;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .header .header-icon .icon-label {
      top: 100%;
      color: #dedacf;
      opacity: 0; }
  .header .social-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 1000;
    margin-top: 27px;
    position: fixed;
    right: 2%; }

.header-active {
  background-color: rgba(0, 0, 0, 0.7); }

.btn-default {
  font-family: "Space Mono", monospace;
  color: #dedacf;
  border: 1px solid #dedacf;
  padding: 10px 20px;
  font-size: 20px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-default:hover {
    background: #d45757;
    border-color: #d45757;
    color: #dedacf; }

.btn-default-2 {
  position: relative;
  font-family: "Space Mono", monospace;
  font-size: calc(16px + 0.5vw);
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  color: #dedacf;
  border: 1px solid #dedacf;
  padding: calc(10px + 0.5vw) calc(20px + 0.5vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-default-2:hover {
    background: #d45757;
    border-color: #d45757;
    color: #dedacf; }

.arrow-container-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%; }

.copy-2 {
  display: inline-block;
  position: relative; }

.arrow-2 {
  position: absolute;
  height: 1px;
  background: white;
  right: 200px;
  opacity: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.main {
  width: 30%;
  -webkit-transform-origin: left;
          transform-origin: left; }

.left,
.right {
  width: 5%;
  left: 60%;
  -webkit-transform-origin: 100% 50% 0px;
          transform-origin: 100% 50% 0px; }

.left {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg); }

.right {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg); }

.mobile-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  background: -webkit-gradient(linear, right top, left top, from(#FEAC5E), color-stop(#C779D0), to(#4BC0C8));
  background: linear-gradient(270deg, #FEAC5E, #C779D0, #4BC0C8);
  background-size: 200% 200%;
  -webkit-animation: mobileGradientAnimation 15s ease-in-out infinite;
          animation: mobileGradientAnimation 15s ease-in-out infinite; }

@-webkit-keyframes mobileGradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes mobileGradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  @media (min-width: 991px) {
    .mobile-overlay {
      display: none; } }

.overlay-home {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: #2e2e2e;
  opacity: 0.3;
  z-index: 1; }

.home-video {
  display: none; }
  @media (min-width: 991px) {
    .home-video {
      display: inherit;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%); } }

.logo-container {
  width: 70%;
  max-width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100; }
  .logo-container svg {
    width: 100%; }

.job-title {
  font-family: "Space Mono", monospace;
  text-align: center;
  color: #dedacf; }

.title-name {
  font-size: 3rem; }

section.layout.layout-portfolio {
  padding: 90px 0; }
  section.layout.layout-portfolio .container {
    position: relative; }
    @media (min-width: 1400px) {
      section.layout.layout-portfolio .container {
        width: 1400px; } }
  section.layout.layout-portfolio .portfolio-grid {
    padding: 25px 0px;
    position: relative; }
    section.layout.layout-portfolio .portfolio-grid.active .single-project {
      opacity: 1; }
    section.layout.layout-portfolio .portfolio-grid::after {
      content: "";
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto; }
    section.layout.layout-portfolio .portfolio-grid .single-project {
      width: 100%;
      text-align: center;
      margin: 15px 0;
      position: relative;
      padding: 0 15px;
      height: 275px;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d; }
      @media (min-width: 768px) {
        section.layout.layout-portfolio .portfolio-grid .single-project {
          width: 50%;
          height: 250px; } }
      @media (min-width: 992px) {
        section.layout.layout-portfolio .portfolio-grid .single-project {
          width: 33.3%;
          height: 200px; } }
      @media (min-width: 1200px) {
        section.layout.layout-portfolio .portfolio-grid .single-project {
          width: 25%;
          height: 200px; } }
      section.layout.layout-portfolio .portfolio-grid .single-project:focus, section.layout.layout-portfolio .portfolio-grid .single-project:active {
        outline: 0px; }
      section.layout.layout-portfolio .portfolio-grid .single-project:hover .text-container span.project-subtitle {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        max-height: 20px;
        opacity: 1; }
      section.layout.layout-portfolio .portfolio-grid .single-project .inner {
        position: absolute;
        height: 0;
        height: 100%;
        width: calc(100% - 30px);
        -webkit-transform: translateZ(20px);
                transform: translateZ(20px); }
        section.layout.layout-portfolio .portfolio-grid .single-project .inner .img-overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.4); }
      section.layout.layout-portfolio .portfolio-grid .single-project .text-container {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 100%;
        padding: 0 20px; }
        section.layout.layout-portfolio .portfolio-grid .single-project .text-container span {
          margin-bottom: 0;
          display: block; }
          section.layout.layout-portfolio .portfolio-grid .single-project .text-container span.project-subtitle {
            -webkit-transform: translateY(-20px);
                    transform: translateY(-20px);
            opacity: 0;
            max-height: 0;
            -webkit-transition: 0.5s all ease-out;
            transition: 0.5s all ease-out; }
