
@import 'universals';

// *********PARTIALS*********
//***************************
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/header';

// ********COMPONENTS********
//***************************
@import 'components/buttons';

// **********PAGES***********
//***************************
@import 'pages/home';
@import 'pages/work';
@import 'pages/contact';

