.header {
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    transition: all 0.25s ease-out;
    nav {
        position: relative;
        height: 100vh;
        width: 100vw;
        background: rgba(212, 87, 87, .95);
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform, opacity;
        transition-duration: 0.3s, 0.5s;
        transition-timing-function: ease, ease-out;
        transition-delay: 3ms;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 101;
    }

    nav ul li {
        transition-property: background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 4ms;
    }

    nav ul li a {
        text-decoration: none;
        font-family: $secondary;
        display: block;
        font-weight: 700;
        font-size: 3em;
        color: #ded9cf;
        line-height: 2.389em;
        text-align: center;
        transition-property: color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 4ms; // background: linear-gradient(to right, rgb(224, 234, 252), rgb(207, 222, 243));
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
    }

    nav ul li:hover {
        background-color: #ded9cf;
    }

    nav ul li:hover a {
        color: $black;
        border-radius: 0;
    }

    header {
        float: left;
        width: 100%;
        height: 200px;

    }

    .hamburger {
        width: 40px;
        height: 40px;
        position: fixed;
        top: 28px;
        left: 2em;
        padding: 1em;
        z-index: 102;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 6ms;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -webkit-transition-delay: 6ms;
    }

    .overlay {
        opacity: 1;
        transform: translateX(0);
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .bar {
        width: 30px;
        height: 5px;
        position: absolute;
        background-color: $beige;
    }

    .bar__inverse {
        background-color: lightgray;
    }

    .hamburger .top {
        left: 0;
        top: 10%;
        transition: all 0.2s ease-in-out;
    }

    .hamburger .middle {
        left: 0;
        top: 38%;
        transition: all 0.2s ease-in-out;
    }

    .hamburger .bottom {
        left: 0;
        top: 64%;
        transition: all 0.2s ease-in-out;
    }

    .top.clicked {
        transform: rotate(45deg);
        top: 40%;
        background-color: #ded9cf;
    }

    .middle.clicked {
        display: none;
    }

    .bottom.clicked {
        transform: rotate(-45deg);
        top: 40%;
        background-color: #ded9cf;
    }

    .header-icon {
        position: relative;
        z-index: 2;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 60px;
        transition: all 0.3s ease-in-out;
        background-color: $beige;

        &:hover {
            background-color: $red;
            .icon {
                color: white;
            }

            .icon-label {
                opacity: 1;
                top: 130%;
                ;
            }
        }

        .icon,
        .icon-label {
            color: $black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.25s ease-in-out;
        }

        .icon-label {
            top: 100%;
            color: $beige;
            opacity: 0;
        }

    }

    .social-links {
        flex-direction: row;
        justify-content: flex-end;
        z-index: 1000;
        margin-top: 27px;
        position: fixed;
        right: 2%;
    }
}

.header-active {
    background-color: rgba(0, 0, 0, 0.7);
}
