.header {
    nav {
        height: 100vh;
        width: 100vw;
        background: rgba(212, 87, 87, .95);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        transform: translateX(-100%);
        transition: transform, opacity;
        transition-duration: 0.3s, 0.5s;
        transition-timing-function: ease, ease-out;
        transition-delay: 3ms;
    }

    nav ul {
        text-align: center;
        margin-top: 50px;
        width: 100%;
    }

    nav ul li {
        transition-property: background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 4ms;
    }

    nav ul li a {
        text-decoration: none;
        font-family: $primary;
        display: block;
        font-weight: 700;
        font-size: 3em;
        color: #ded9cf;
        line-height: 2.389em;
        text-align: center;
        transition-property: color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 4ms;
    }

    nav ul li:hover {
        background-color: #ded9cf;
    }

    nav ul li:hover a {
        color: #2b3a42;
        border-radius: 0;
    }

    header {
        float: left;
        width: 100%;
        height: 200px;

    }

    .hamburger {
        width: 40px;
        height: 40px;
        position: fixed;
        top: 28px;
        left: 2em;
        padding: 1em;
        z-index: 100;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 6ms;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -webkit-transition-delay: 6ms;
    }

    .overlay {
        opacity: 1;
        transform: translateX(0);
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .bar {
        width: 30px;
        height: 5px;
        position: absolute;
        background-color: $black;
    }

    .bar__inverse {
        background-color: lightgray;
    }

    .hamburger .top {
        left: 0;
        top: 10%;
        transition: all 0.2s ease-in-out;
    }

    .hamburger .middle {
        left: 0;
        top: 38%;
        transition: all 0.2s ease-in-out;
    }

    .hamburger .bottom {
        left: 0;
        top: 64%;
        transition: all 0.2s ease-in-out;
    }

    .top.clicked {
        transform: rotate(45deg);
        top: 40%;
        background-color: #ded9cf;
    }

    .middle.clicked {
        display: none;
    }

    .bottom.clicked {
        transform: rotate(-45deg);
        top: 40%;
        background-color: #ded9cf;
    }

    .header-icon {
        position: relative;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 60px;
        transition: all 0.3s ease-in-out;
        background-color: $beige;

        &:hover {
            background-color: $red;
            .icon {
                color: white;
            }

            .icon-label {
                opacity: 1;
                top: 120%;;
            }
        }

        .icon,
        .icon-label {
            color: $black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.25s ease-in-out;
        }

        .icon-label {
            top: 100%;
            opacity: 0;
        }

    }
}
