@font-face {
	font-family: 'ElegantIcons';
    src:url('fonts/ElegantIcons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


h1,h2,h3,h4,h5,h6 {
    font-family:$primary;
}

p {
    font-family: $secondary;
    color:$black;
}

.text-white {
    color:#fff;
}

h1 {
    font-size: calc(32px + 0.5vw);
}
h2 {
    font-size: calc(24px + 0.5vw);
}
h3 {
    font-size: calc(21px + 0.5vw);
}
h4 {
    font-size: calc(16px + 0.5vw);
}
h5 {
    font-size: calc(13px + 0.5vw);
}
h6 {
    font-size: calc(12px + 0.5vw);
}