.overlay-home {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: $black;
    opacity: 0.3;
    z-index: 1;
}

.home-video {
    display: none;

    @media (min-width: 991px) {
        display:inherit;
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }
}

.logo-container {
    width: 70%;
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    svg {
        width: 100%;
    }
}

.job-title {
    font-family:$secondary;
    text-align:center;
    color: $beige;
    
}
